<strong>Olá, {{ deliveryman }}</strong>
<p>Cancelamento de entrega</p>
<p>
  <strong>Cliente:</strong> {{ recipient }}, está localizado na rua {{ rua }}, em {{ estado }} cancelou a entrega que estava agendada para {{ data }}
</p>
